

<h2>Заказ #<%= @order.id %></h2>

<p>
  <strong>Name:</strong>
  <%= @order.name %>
</p>

<p>
  <strong>Adress:</strong>
  <%= @order.adress %>
</p>

<p>
  <strong>Email:</strong>
  <%= @order.email %>
</p>

<p>
  <strong>Pay type:</strong>
  <%= @order.pay_type %>
</p>

<% @order.line_items.each do |item| %>
  <%= item.product.title %><br>
<% end %>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
