<h2>Your Cart</h2>
<table>

  <% if @is_order %>
    <%= render(cart.line_items) %>
  <% end %>
  <tr class="total_line">
    <td id = "total-line-items"><%= cart.line_items.sum(:quantity) %></td>
	  <td colspan="1">Итого:</td>
	  <td id = "total-price" class="total_cell"><%= cart.total_price.to_i %></td>
  </tr>
</table>

<%= button_to "Checkout", new_order_path, method: :get %>
<%= button_to 'Empty cart', cart, method: :delete, data: { confirm: 'Are you sure?' } %>
