<p id="notice"><%= notice %></p>

<%= search_form_for @search, url: category_path do |f| %>
  <div class="field">
    <%= f.label :title_cont, "Name contains" %>
    <%= f.text_field :title_cont %>
  </div>
  <div class="field">
    <%= f.label :price_gteq, "Price between" %>
    <%= f.text_field :price_gteq %>
    <%= f.label :price_lteq, "and" %>
    <%= f.text_field :price_lteq %>
  </div>
  <div class="actions"><%= f.submit "Search" %></div>
<% end %>

<% @products.each do |product| %><br>
<p>
  <strong>Title:</strong>
  <%= product.title %>
</p>

<p>
  <strong>Ptip:</strong>
  <%= product.ptip %>
</p>

<p>
  <strong>Description:</strong>
  <%= product.description %>
</p>

<p>
  <strong>Composition:</strong>
  <%= product.composition %>
</p>

<p>
  <strong>Image url:</strong>
  <%= product.image_url %>
</p>

<p>
  <strong>Price:</strong>
  <%= product.price %>
</p>


<% end %>
 

<% if @is_admin %>
	<%= link_to 'Edit', edit_category_path(@category) %> 
	<%= link_to 'Back', categories_path %>
<% end %>


