<div class="list-products">
<div class="pseudo-list-products">
  <ul>
  <% cache ['store', Product.latest] do %>
    <% @products.each do |product| %>
      <% cache ['entry', product] do %>
      <li>

          <%= image_tag(product.image_url) %>
          <h3><%= product.title %></h3>

          <div class="price">
            <%= number_to_currency(product.price) %>
          </div><!--/price_line-->
          <div class="details">
            <%= sanitize(product.description) %>
          </div>
          <%= button_to 'Add to Cart', line_items_path(product_id: product), remote: true, class: "button middle_green" %>
      </li><!--/entry-->
      <% end %>
    <% end %>
  <% end %>
  </ul>
</div><!--/pseudo-list-products-->
</div><!--/list-products-->