<div class="list-products">
<div class="pseudo-list-products">
  <ul>
  <% cache ['store', Product.latest] do %>
    <% @products.each do |product| %>
      <% cache ['entry', product] do %>

      <li>
        <%= link_to product, id: "product-#{product.id}", class: "link-product" do %>
          <%= image_tag(product.image_url) %>
          <h3 class = "product-title"><%= product.title %></h3>
          <div class="price">
            <%= number_to_currency(product.price, 
              :precision => 0, 
              :unit      => " руб",
              :format    => "%n%u" ) %>
          </div><!--/price_line-->

        <% end %>

        <%= button_to line_items_path(product_id: product), remote: true, class: "add-to-cart button middle_green" do %>
          <i class="fa fa-shopping-cart"></i>   Add to cart
        <% end %>
        <%= button_to line_items_path(product_id: product), remote: true, class: "add-to-favorites button middle_green" do %>
          <i class="fa fa-heart"></i>
        <% end %>
          
      </li><!--/entry-->
      
      <% end %>
    <% end %>
  <% end %>
  </ul>
  <br><br>
  <h3>Последние просмотренные товары</h3>
  <ul id = "last-view">
  </ul>
  
</div><!--/pseudo-list-products-->
</div><!--/list-products-->