<% if line_item == @current_item %>
  <tr id="current_item" data-item_id="<%= line_item.id %>">
<% else %>
  <tr data-item_id="<%= line_item.id %>">
<% end %>
    <td id="quantity-<%= line_item.id %>"><%= line_item.quantity %></td>
    <td><%= line_item.product.title %></td>
    <%# number_to_currency(line_item.total_price) %>
    <td id="item-price-<%= line_item.id %>"><%= line_item.total_price.to_i %></td>
    <td><span class = "add-quantity fa fa-plus-circle link"></span></td> 
    <td><span class = "delete-quantity fa fa-minus-circle link"></span></td>   
    <td><span class = "deleteAction fa fa-trash-o link"></span></td>
  </tr>


      