<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>

<h1>Your Catalog</h1>

  <%= search_form_for @search, url: store_index_path do |f| %>
      <div class="field">
        <%= f.label :title_cont, "Name contains" %>
        <%= f.text_field :title_cont %>
      </div>
      <div class="field">
        <%= f.label :price_gteq, "Price between" %>
        <%= f.text_field :price_gteq %>
        <%= f.label :price_lteq, "and" %>
        <%= f.text_field :price_lteq %>
      </div>
      <div class="actions"><%= f.submit "Search" %></div>
  <% end %>

  <p>
  <strong>Category</strong>
  <% @categories.each do |category| %><br>
  <%= link_to(category) do %>
  <strong><%= category.title %></strong>
  <% end %>
  <% end %>
</p>
	
  <li> <%= sort_link @search, :title, "Product Name" %></li>
  <li><%= sort_link @search, :price, "Price" %></li>

  <% cache ['store', Product.latest] do %>
    <% @products.each do |product| %>
    <% cache ['entry', product] do %>
	<div class="entry">
	    <%= image_tag(product.image_url) %>
	    <h3><%= product.title %></h3>
	    <%= sanitize(product.description) %>
	    <div class="price_line">
    		<span class="price"><%= number_to_currency(product.price) %></span>
    		<%= button_to 'Add to Cart', line_items_path(product_id: product), remote: true %>
		
	    </div>
	</div>
    <% end %>
    <% end %>
<% end %>
