<div id="menu-horizontal" class="clearfix">
<div class="grid-wrap">
  <ul class = "left">
    <li><%= link_to 'Home', home_path %></li>
    <li><%= link_to 'Catalog', store_path %></li>
    <li><a href="http://www..../faq">Questions</a></li> 
    <li><a href="http://www..../news">News</a></li>
    <li><a href="http://www..../contact">Contact</a></li>
  </ul>
  <ul class="right">
    <% if signed_in? %>
      <li><%= link_to "", signout_path, method: "delete", class: "fa fa-sign-out" %></li>
      <li><%= link_to "", edit_client_path(current_client), class: "fa fa-pencil-square-o" %></li>
      <li><%= link_to "", current_client, class: "fa fa-user" %></li>
    <% else %>
      <li><%= link_to "", signin_path, class: "fa fa-sign-in" %></li>
      <li><%= link_to "", new_client_path, class: "fa fa-pied-piper-alt" %></li>
    <% end %>
  </ul>
     
  <% if session[:user_id] %>
    <ul class="right">
      <li><%= link_to 'Orders', orders_path %></li>
      <li><%= link_to 'Products', products_path %></li>
      <li><%= link_to 'Users', users_path %></li>
      <li><%= link_to 'Categories', categories_path %></li>
    </ul>
    <%= button_to 'Logout', logout_path, method: :delete %>
  <% end %>
</div><!--/grid-wrap-->
</div><!--/menu-horizontal-->
