<!DOCTYPE html>
<html>
<head>
  <title>Shop</title>
  <%= stylesheet_link_tag "application", media: "all","data-turbolinks-track" => true %>
  <%= javascript_include_tag "application","data-turbolinks-track" => true %>
  <%= csrf_meta_tag %>

</head>
  <body class="<%= controller.controller_name %>">
    <%= render 'layouts/header' %>

    <% flash.each do |key, value| %>
        <%= content_tag(:div, value, class: "alert alert-#{key}") %>
    <% end %>

    <section id = "grid-main">
    <div id="grid-wrap-menu" class="grid-wrap clearfix">
      <div class="pseudo">
        <div class = "pseudo2 clearfix">
    
          <div id="columns">
            <%= render 'layouts/menu' %>
            <%= yield %>
            <%= debug(params) if Rails.env.development? %>
          </div><!--/columns-->

        </div><!--/pseudo2-->
      </div><!--/pseudo-->
    </div><!--/grid-main-->
    </section><!--/grid-wrap-->

  </body>
</html>
